<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation</title>
</head>
<body>
    <h1> Recommendation System </h1>
    <div class="container-fluid">
        <h2>Recommendations for You </h2>
    </div>
    
    
        <div class="container-fluid">
        
        <!-- Movie list -->
        <div class="row">
                {% if movie_list %}
                {% for movie in movie_list %}
                    <div class="col-sm-2 col-md-2 ">
                        <div class="thumbnail">
                            <h4>{{movie.title}}</h4>
                            <a href="{% url 'detail' movie.id %}">
                                <img src="{{ movie.movie_logo.url}}" class="img-responsive">
                            </a>
                            <h5>{{movie.genre}}</h5>
                            <div class="caption">
    
                                <!-- View Details -->
                                <a href="{% url 'detail' movie.id %}" class="btn btn-primary btn-sm" role="button">Give Rating</a>
    
                                            
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
            </div>
        
    </div>
</body>
</html>